<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        CooKing.com
      </a>
      <img id="hat" src="https://piskel-imgstore-b.appspot.com/img/c4bdd60f-2210-11ec-a186-c10b445d605f.gif" alt="">
    </div>
    <div class="pull-right">
      <a href="/recipes/new" class="btn btn-default navbar-btn">New Recipe</a>
      <img id="hat" src="https://piskel-imgstore-b.appspot.com/img/9e19135c-2228-11ec-8c50-8795510f1832.gif" alt="">
           <img id="hat" src="https://piskel-imgstore-b.appspot.com/img/eda6e4c7-223f-11ec-8f84-4d31a5b65298.gif" alt="">
           <img id="hat" src="https://piskel-imgstore-b.appspot.com/img/48c16b21-224e-11ec-8caa-4d31a5b65298.gif" alt="">
    </div>
  </div>
</nav>