<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        CooKing.com
      </a>
      <img id="hat" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAlxJREFUWEftV78vBFEQnuXEVReSE8TlriKh8qMgRCKi8AfoaCQqjVb8AaLVXCXR0PkDFCISIRR+VCSncjlBSFyuIpaVecyaffveu7eLhMSr7t7MvO+bb2dm3zoQbXmW7o6lH+gcZSD0E3s3l5fGs1tyObL7MSwghKci4HEQdqAAb85mjQRui0WQYyjgYz+AKRMQ4BzkdH8fJmdmYH1lBboHB62U1cUwcj4uJxACRzQMui6VoDWTqZo9sTPFyCSIgHeytxcJxEoKhROR6xkaQqvzewh0dXbC9uamtcxfUWB0fBzOzs8DCuAf76dJoPwcXDCQMhEkxkZGYGF+PqTG3OyscF/O55UC6OwIvLi0BFs7O37mfFjIh/kkVGDYYqtrawEiBDw9NRVqVbKpwFUKEBljV3ASFKAC521MVS9nqx3F2JamwYMk+Krm++0EonQBkv1zBERb2rx8qimhmv88xvTe/ifwexRwHAc8L3wbw31RLBob7n+5BvAW83ifgGTaDQAhOO7j0tlwHwtZdRMyjWJ/GuIPBEmkXXAZCQ5OzkSCbDzmw0dZ8MYuoAx52yAQJ4U2DqaLUbz4xLHaUVw4rYWG/jKkrhp9/Pp6F56e3mW3XZW2BygfNkBH94sSz0ggmwmaMXtacqakDNUEtxdLXjwCfakauEt9Vj+BcDBeA1SsHLyp4sBR5TUeAZUCqmdMWVPRyo8ntgIdEy48HtT558VRIDnwDIWNRHQF8Gp2vHsRSCZuDfQOt4euYtZzQCerbRcw0pHnAMcIzOFqdSCRM34pW39GS4fqPtMjn/cGnROHMMDLLPUAAAAASUVORK5CYII=" alt="">
    </div>
    <div class="pull-right">
      <a href="/recipes/new" class="btn btn-default navbar-btn">New Recipe</a>
    </div>
  </div>
</nav>