<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        CooKing.com
      </a>
      <img id="hat" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAdhJREFUWEftl7FOAzEMhn0SAw+ABEhVu5cF1nZj6qu0A6wVD4C6wtC+Sie2doWF7q0qARIPwIAU5NM5cpw4l9wxgNSb2iS2vzj+nbsC8h6TuLxIXAfaQhkI15VjxsQZisK6tDYMxosXAjA8CHNYG5wCaTbVuBNTApj37RZOu10L/bJew9VwCM+rFVwOBkmZ1Ww+djs46/XQh5MmcuoFxwk0etvv4bzTccBiJDEbCUEkBneYEyQpFYFFBIdZxUz8HQDEkeffdJd1x1PVgZOBUmEpMmsLJWTq9YES4mY8hrvp1Cs6MtZ6gTaP534/m8HjYmGV6v1gO7OdBkEe5nNn0yQxni0KHJLq7WTCAzsS9P5wiJgqOATZaH1CVr08QrUV1zUehOBPrEkx4KRWXGa3DiCnGP8lQFVj/s130e/D62YTTIA2F7qEYiqwd4OUGxbU9WgET8ulJ9HY3AGgdQbQAR0HP2fZ+eQc2bQCQOOvzyM4Pvl23ohoHAtGm6PxxgDoHIPTwx3ycQ7BwWi8sg82vdjbq5FByGFoPDaH4Pw1jGtYbcVakJwOyNdqEAeAQwain2a/VYhVAQaVEJUhVXFTEBY4W4ZSbc69HOsDwrD2K7l2gaJ77RM5298PlhQ8MNovKIQAAAAASUVORK5CYII=" alt="">
    </div>
    <div class="pull-right">
      <a href="/recipes/new" class="btn btn-default navbar-btn">New Recipe</a>
    </div>
  </div>
</nav>