<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        CooKing.com
      </a>
      <img id="hat" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAmlJREFUWEftVztLA0EQntNIrFJFfBBiZUArHwgSEYJY+APsTCNY2diKP0BsbVIJNtr5A1KIBCRBEDWVAa0MwQdaWUU8PZnVOef2dvfuokIEt0p2Zvb75ruZuT0Loi0npLsV0g90jjIQ+om9u+tr49l9g4Nkd2NYgA9PRcDhIOxAAd6bThsJ3NfrIMdQwOe+B1MmIMA5SLVSgcXlZdjb3obRbDaUsroYRs7F5QR84IiGQbeNBvSnUoHZEztTjEyCCDjn5XIkkFBSKJyI3Nj0NFqt9iEwMjwMh8ViaJm/o8Ds/Dxc1GoeBfCP89skUH4OLhhImQgSc7kcrK+t+dRYXVkR7luFglIAnR2BNzY34aBUcjPnw0I+zCWhAsMW29nd9RAh4KV83teqZFOBqxQgMsau4CQoQAXO25iqXs5WO4qxLU2DB0nwFeT74wSidAGS/XMERFuGefkEKaGa/zzG9N7+J9A+CliWBY7jv43hvigWjQ33v10DeItpPsagO2l7gBAc93HpbLiPhay6CZlGsTsN8QeCxJI22IwEBydnIkE2HvPpoyx4YxdQhrxtEIiTQhsH08UoXnziWO0ovqx2QmyyAgO34uYiVjxuw/Pzh+xh101/GeyTLGRGX5V4RgLplNeM2dPimZIqVA+yCvWG0xqBiUQHPCS+qp8DIRhmhwrRvmxHn54nC06f3lojoFLA8IzdrpAfT8sKZBZsaB53uefJGWJ2qJBJge6pF7jcj0VXAK9mZ0dXnmRarYHxmSHfVSz0HKBZoKp6zI4rJPtwwlHbUD7LM4dVdUAdIAUGfiUHOmj6XfeZHvm8d6ZPijDLLaMYAAAAAElFTkSuQmCC" alt="">
    </div>
    <div class="pull-right">
      <a href="/recipes/new" class="btn btn-default navbar-btn">New Recipe</a>
    </div>
  </div>
</nav>