<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav class="navbar navbar-default">
   <div class="container-fluid">

         <img id="hat" src="https://piskel-imgstore-b.appspot.com/img/c4bdd60f-2210-11ec-a186-c10b445d605f.gif">
     <a href="/"><img id="brand" src="https://piskel-imgstore-b.appspot.com/img/3300265e-22d8-11ec-a6ec-77ba6edf0773.gif"></a>
         <img id="hat" src="https://piskel-imgstore-b.appspot.com/img/c4bdd60f-2210-11ec-a186-c10b445d605f.gif">
   </div>
       <div class="pull-left">
      <a href="/recipes/new" class="btn btn-default navbar-btn">New Recipe</a>
      
    </div>
    <div class="pull-right">
<a href="/recipes/about" class="btn btn-default navbar-btn">About Us</a>
    </div>
</nav>

{{!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img id="brand" src="https://piskel-imgstore-b.appspot.com/img/48c16b21-224e-11ec-8caa-4d31a5b65298.gif" alt="">
      </a>
    </div>
    <div class="pull-right">
      <a href="/recipes/new" class="btn btn-default navbar-btn">New Recipe</a>
    </div>
  </div>
</nav> --}}