<head>
              <link rel="stylesheet" href="/css/style.css">

</head>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/recipes/{{recipe._id}}?_method=PUT">
      {{> recipes-form}}
      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save Recipe</button>
      </div>
    </form>
  </div>
</div>