<!DOCTYPE html>
<html lang="en">
<head>
              <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To The Kingdom</h1>
    <p>Question: Have you ever walked into your kitchen, surveyed the landscape, and crumpled to the ground, overwhelmed and alone?</p>
    <p>Ever hop on a food blog looking for a recipe and instead find a 12-part life story?</p>
    <p>Have you ever yearned for a simple website to find, post, and comment on recipes, with no frills in sight (save for some cute pixelated animations, obviously)?</p>
    <strong>Well, oh boy, do I have news for you!</strong>
    <p>Here at CooKing.com, we keep things simple, purely by choice and definitely not because we don't know how to do other stuff. Definitely not.</p>
    <p>We have only the best recipes from the best chefs, in addition to the least annoying comment sections.</p>
    <p>Our recipes will have you cooking like royalty in no time.</p>
    <h1>Long live the King (and Queen!)</h1>


           <img id="king" src="https://piskel-imgstore-b.appspot.com/img/9e19135c-2228-11ec-8c50-8795510f1832.gif" alt="">
           <img id="queen" src="https://piskel-imgstore-b.appspot.com/img/eda6e4c7-223f-11ec-8f84-4d31a5b65298.gif" alt="">   
</body>
</html>