<!DOCTYPE html>
<html lang="en">
<head>
              <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
        <a href="/recipes/new" class="btn btn-default navbar-btn">New Recipe</a>
      <a href="/recipes/about" class="btn btn-default navbar-btn">About Us</a>
 <img id="brand" src="https://piskel-imgstore-b.appspot.com/img/48c16b21-224e-11ec-8caa-4d31a5b65298.gif">
    <img id="hat" src="https://piskel-imgstore-b.appspot.com/img/c4bdd60f-2210-11ec-a186-c10b445d605f.gif">
           <img id="king" src="https://piskel-imgstore-b.appspot.com/img/9e19135c-2228-11ec-8c50-8795510f1832.gif" alt="">
           <img id="queen" src="https://piskel-imgstore-b.appspot.com/img/eda6e4c7-223f-11ec-8f84-4d31a5b65298.gif" alt="">   
</body>
</html>