body {
    /* background-image: url("fruits-seamless-pattern-fresh-healthy-organic-vitamin-food-vector-pictures-cartoon-colorful-background-125501144.jpeg"); */
    background-color: #6CDAEE
}

img {
	width: 200px;
    max-height: auto;
    border-radius: 25%;
}

/* div {
    margin: 10px;
} */

h1, h2, h3, p, a, title {
    /* color: red; */
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.col-md-4 {

    background-color: #5CDB95;
    color: #EDF5E1;
    margin: 10px;
    padding: 10px;
    max-height: fit-content;
    max-width: fit-content;
    border-radius: 5%;
}
.container-fluid {
        display: flex;
        justify-content: space-between;
        height: 100px;
}

.navbar {
    background-color: orange;
    /* font-weight: bolder;
    font-size: 100px; 
    display: flex;
    justify-content: space-between; */
}

#brand {
    margin-top: -100px;
    margin-bottom: -300px;
    width: 300px;
    max-height: auto;

}

#hat {
    margin-top: 20px;
    margin-bottom: -30px;
    width: 100px;
}
textarea {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

#show-image {
    max-height: 200px;
    border-radius: 0%;
}

#index-pic {
    border-radius: 25%;
    max-height: 100px;
    max-width: 100px;
}

#king {
    margin: 20px
}