body {
    /* background-image: url("fruits-seamless-pattern-fresh-healthy-organic-vitamin-food-vector-pictures-cartoon-colorful-background-125501144.jpeg"); */
    background-color: ghostwhite;
}

img {
	width: 300px;
    max-height: auto;
}

div {
    margin: 10px;
}

h1, h2, h3, p, a, title {
    color: red;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}


.container-fluid {
        display: flex;
        justify-content: space-between;
}

.navbar {
    background-color: orange;
    font-weight: bolder;
    font-size: 100px; 
    display: flex;
    justify-content: space-between;
}


textarea {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

#hat {
    width: 100px;
}